html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
#root{
  background-color: #FCFBF4;
  min-height: 100%;
}
.logo{
  width: 100px;
  height: 100px;
  position: fixed;
  border-radius: 50%;
}
.tocenter{
  display: block;
  height: 100px;
  margin: auto;
  margin-top: 55px;
  width: 100px;
  border-radius: 50%;
}
.profile{
  right: 0;
  top: 0;
  margin-top: 55px;
  margin-right: 10px;
  width: 100px;
  height: 100px;
  position: fixed;
  border-radius: 50%;
  rotate: 4deg;
}
a {
    margin: 0 10px;
    text-decoration: none;
    transition: color 0.3s;
  }
  /* a:visited {
    color: #3D1E00;
  } */
  .footer a:hover{
    transform:translateX(3px) scale(1.3);
  }
  .container-link a:hover{
    transform: scale(1.05);
  }
  .twitter:hover, .instagram:hover, .github:hover {
    color: #007bff; 
  }
  .youtube:hover{
    color: #ff0000;
  }
  .facebook, .linkedin, .instagram, .github, .tiktok, .twitter, .youtube{
    /* color: #469daa; */
    color: white;
  }
  .facebook:hover {
    color: #0808a5cd;
    background-color: inherit;
  }
  .linkedin:hover {
    background-color: 	#0077B5; 
  }
  .tiktok:hover {
    color: #0c0c0c; /* TikTok's primary color for hover effect */
  }
  .footer{ 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #999797;
    gap: .55rem;
    bottom: 0;
    left: 0; 
    position: fixed;
    height: 50px;
    width: 100%;
    padding: 0px 15px;
  }
  .content{
    padding-left: 140px;
    padding-right: 140px;
    margin-bottom: 90px;
  }
  .container .one{
    display: flex;
    flex-direction: column;
  }

  .project-two, .project-one{
    font-family: "Montserrat", sans-serif;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    /* justify-content: flex-end; */
  }
  .project-one > div{
    border-radius: 8px;
    background-color: #F5F5DC;
    color: #3D1E00;
    flex: 1;
    margin: 5px;
    transition: transform 0.3s ease-in-out;
  }
  .project-two > div {
    border-radius: 8px;
    flex: 1;
    color: #3D1E00;
    margin: 5px;
    transition: transform 0.3s ease-in-out;
  }
  .project-two > div:first-child {
    background-color: #F5F5DC;
  }
  .project-two > div:first-child:hover , .project-one > div:hover{
    background-color: #D3D3D3;
    color: blue;
    transform: scale(1.02) perspective(800px) rotateY(10deg) translate3d(2px, 2px, 2px);
  }
  
  .downloadResume{
    color: #2b45d6d7;
  }
  .downloadResume:hover{
    transform: scale(1.4);
  }